github "ReactiveX/RxSwift"
github "airbnb/lottie-ios"
github "MessageKit/MessageKit"
github "SwiftyJSON/SwiftyJSON"
github "Alamofire/Alamofire" "5.0.0-rc.2"
github "Alamofire/AlamofireImage" "4.0.0-beta.5"
